.NavBar {
    position: absolute;
    width: 1728px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #8AFF91;
    z-index: 1;
}

.NavList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

    .NavListItem {
        float: left;
        margin:;
        padding: 100;
    }