.NavBar {
  overflow: hidden;
  background-color: #8AFF91;
  position: fixed; /* Set the navbar to fixed position */
  height: 80px;
  left: 0;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
}

.NavList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}

.NavListItem {
    display: inline-block;
    margin:50px;
}